<!DOCTYPE html><html class="menu">
<html>

<head>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="google" value="notranslate"/>
<!-- <link rel="stylesheet" type="text/css" href="/home/student/Desktop/meet stuff/meet folder/final_css_pro/web/css/button.css">
<link rel="stylesheet" type="text/css" href="/home/student/Desktop/meet stuff/meet folder/final_css_pro/web/css/ver.css">
<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 -->




<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="google" value="notranslate"/>

<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- 
<link rel="stylesheet" type="text/css" href="/home/student/Desktop/meet stuff/meet folder/final_css_pro/web/css/ver.css"> -->
<link rel="stylesheet" type="text/css" href="/home/student/Desktop/meet stuff/meet folder/final_css_pro/web/static/css/ver.css">



<link rel="stylesheet" href="{{url_for('static', filename='css/ver.css')}}" />

<link rel="stylesheet" href="{{url_for('static', filename='css/shine.css')}}" />

<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}" />

<link rel="stylesheet" href="{{url_for('static', filename='css/ed.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/rate.css')}}" />
 

<link rel="stylesheet" href="{{url_for('static', filename='css/fast.css')}}" />
 

</head>
<body>


  





<script src="http://maps.google.com/maps?file=api&v=2&sensor=true&key=ABQIAAAAHum4yVL_3ogBM6_sSNfcDBQDoMChSem5vN-KCHFJ64qMmR-oDxTMwSZoSB5Rxq8a_0tsax8MXnKRxQ" type="text/javascript"></script>



<script type='text/javascript' src='http://www.internet-israel.com/wp-includes/js/jquery/jquery.js?ver=1.4.4'></script> 
<script type='text/javascript' src='http://www.internet-israel.com/internet_files/javascript/jquery.googlemaps.pack.1.01.js'></script> 

</body>
</html>