<!DOCTYPE html><html class="menu">
<html>

<head>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="google" value="notranslate"/>
<!-- <link rel="stylesheet" type="text/css" href="/home/student/Desktop/meet stuff/meet folder/final_css_pro/web/css/button.css">
<link rel="stylesheet" type="text/css" href="/home/student/Desktop/meet stuff/meet folder/final_css_pro/web/css/ver.css">
<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 -->




<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="google" value="notranslate"/>

<link rel="stylesheet" type="text/css" href="C:\Users\moinm\OneDrive\Desktop\Meet\enterpenurship\submit_final_css_project_flask-heroku_moin--master\final_css_pro\web\static\main.css" rel="stylesheet">
<!-- 
<link rel="stylesheet" type="text/css" href="/home/student/Desktop/meet stuff/meet folder/final_css_pro/web/css/ver.css"> -->
<link rel="stylesheet" type="text/css" href="/home/student/Desktop/meet stuff/meet folder/final_css_pro/web/static/css/ver.css">



<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

<body id="header">
  <a class="site-logo" href="#">
           Logo
        </a>

  <nav role="navigation" id="nav-main" class="okayNav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Testimonials</a></li>
    </ul>
  </nav>
</header>
<!-- /header -->

<main>
  <h1>Resize your browser to preview okayNav</h1>
</main>

</body>
<body>
  
</body>
</html>